<html>
<head>
<title>Hero Factory - Editor</title>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jaws/jaws-dynamic.js"></script>
<script type="text/javascript" src="javascripts/editor.js"></script>
</head>
<body>
<canvas style="position:relative; cursor: default;" id="view" width="640" height="360"></canvas>
<div style="float:right;">
	<div id="tile-select"></div>
	<form>
		Map name: <input id="filename" type="text" /><br />
		<input id="save-btn" type="button" value="Save" />
	</form>
</div>
FPS: <span id="fps"></span><br />
<h3>jaws log</h3>
<div id="jaws-log"></div>
</body>
</html>